
@{
    ViewBag.Title = "Greška";
}

<h3 style="margin-top: 40px;">Došlo je do pogreške pri prijavi na seminar. Pokušajte ponovno:</h3>

@{
    Session["Seminar"] = null;
}

<div>
    @Html.ActionLink("Natrag na popis", "Pretraga")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

